# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# AWS / local binaries
aws/
kubectl
awscliv2.zip

# VPN / certificates
*.crt
*.key
*.csr
*.ovpn
*.cnf
*.srl

# Archive
archive/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Env files
.env
.env.*
